.container {
    max-width: 1920px;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    max-width: 1780px;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    margin: 0 auto;
}

header img {
    width: 27px;
    height: 27px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: -40px;
}

.logo p {
    padding-left: 10%;
    font-size: 20px;
    font-weight: semibold;
    color: #4468E2;
}

header ul {
    display: flex;
    width: 598px;
    justify-content: space-between;
}

header li {
    font-size: 22px;
    font-weight: Semibold;
    color: #1C4961;
    opacity: 75%;
}

header li:first-child {
    opacity: 100%;
}

header button {
    background-color: #4468E2;
    border: 1px solid;
    border-radius: 17px;
    padding: 10px 30px;
    font-size: 19px;
    color: white;
    margin-right: -40px;
}

.firstFloor {
    background-image: url(./images/lalo-hernandez-Amo081zdJsI-unsplash.png);
    width: 100%;
    max-width: 1780px;
    height: 608px;
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
}

.color {
    width: 100%;
    max-width: 1780px;
    height: 608px;
    margin: 0 auto;
    background-color: #000000;
    z-index: 1;
    opacity: 28%;
    border-radius: 18px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.firstFloor p {
    font-size: 22px;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 522px;
    z-index: 2;
}

form {
    width: 876px;
    height: 89px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: #FFFF;
    padding: 15px 35px;
    border-radius: 10px;
}

form label {
    font-size: 20px;
}

form input {
    margin-top: 10px;
    border: none;
}

form button {
    background-color: #4468E2;
    border: none;
    border-radius: 10px;
    width: 187px;
    height: 63px;
    font-size: 21px;
    color: white;
}

.sectionFirstFooter {
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.little {
    width: 275px;
    height: 244px;
}

.little img {
    height: 50px;
    margin-bottom: 8%;
    margin-left: 14%;
}

.little h3 {
    font-size: 24px;
    font-weight: semibold;
    margin-bottom: 8%;
}

.little p {
    font-size: 20px;
}

.sectionSecond {
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sectionSecond h2 {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 4%;
}

.sectionSecond ul {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 26px;
    font-weight: semibold;
    padding-bottom: 4%;
}

.firstPhotos {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.firstPhotos img {
    width: 552px;
}

.firstPhotos h3 {
    font-size: 38px;
    font-weight: semobold;
    margin-top: 1%;
    margin-bottom: 1%;
}

.firstPhotos p {
    /* width: 552px; */
    font-size: 26px;
}

.icons img {
    width: 33px;
    margin: 0 5%;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}



.bestPrice {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.satesto {
    width: 552px;
}

.mainIcons {
    display: flex;
    justify-content: space-between;
}

.firstPhotosFooter {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}